<h2 mat-dialog-title>Nueva Tarea</h2>
<mat-dialog-content [formGroup]="taskForm">
  
  <!-- Title Input -->
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input matInput formControlName="titulo" maxlength="25" required>
    <mat-error *ngIf="taskForm.controls['titulo'].hasError('required')">
      Title is required.
    </mat-error>
    <mat-error *ngIf="taskForm.controls['titulo'].hasError('maxlength')">
      Maximum 25 characters allowed.
    </mat-error>
  </mat-form-field>

  <!-- Emoji Select Input -->
  <mat-form-field>
    <mat-label>Icono</mat-label>
    <mat-select formControlName="icono" required>
      <mat-option *ngFor="let emoji of emojiOptions" [value]="emoji">
        {{ emoji }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="taskForm.controls['icono'].hasError('required')">
      Emoji selection is required.
    </mat-error>
  </mat-form-field>

  <!-- Descripcion Textarea -->
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <textarea matInput formControlName="descripcion" maxlength="25" required></textarea>
    <mat-error *ngIf="taskForm.controls['descripcion'].hasError('required')">
      Descripcion is required.
    </mat-error>
    <mat-error *ngIf="taskForm.controls['descripcion'].hasError('maxlength')">
      Maximum 25 characters allowed.
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Descartar</button>
  <button mat-button (click)="onSubmit()" [disabled]="taskForm.invalid">Crear</button>
</mat-dialog-actions>
